/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
}

.body {
  font-family: Montserrat;
}

.nav-bar {
  font-family: Montserrat;
  color: #484848;
  display: flex;
  justify-content: space-between;
  height: 100%;
  border-bottom: 1px solid #eae8e8;
}

#logo {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav button {
  padding: 0 16px;
  border: none;
  font-size: 13.8px;
  font-weight: 500;
  height: 100%;
}

#nav button:hover {
   border-bottom: 2px solid #484848;
   border-top: 2px solid #FFFFFF
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  color: #484848;
  font-family: Montserrat;
}

.close {
  color:  #484848;
  font-family: Montserrat;
  cursor: pointer;
  font-weight: lighter;
  position: absolute;
}

.alt-link {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 20px 0px;
  border-top: 1px solid #eae8e8;
  text-align: left;
  color: #484848;
  font-family: Montserrat;
}

.alt-link > button {
  color: #008489;
  font-weight: bolder;
  font-size: 16px;
  border: none;
  font-family: Montserrat;
  cursor: pointer;
  padding-left: 5px;
}

.alt-link > button:hover {
  text-decoration: underline;
}

.modal-errors {
  margin-bottom: 10px;
  color: #D93900;
  font-weight: 600;
  text-align: left;
}

.modal-errors ul {
  list-style: none;
}

.modal-errors ul li {
  padding: 5px;
}

.modal-form {
  padding: 20px 0px;
}

#form-type {
  border-bottom: 1px solid #eae8e8;
  padding-bottom: 20px;
}

#form-type button {
  color: #008489;
  font-weight: bolder;
  font-size: 16px;
  border: none;
  font-family: Montserrat;
  cursor: pointer;
  padding-left: 1px;
}

.modal-form button {
  display: inline-block;
  background-color: #FF5A5F;
  color: #FFFFFF;
  font-family: Montserrat;
  text-align: center;
  padding: 10px 22px;
  line-height: 24px;
  font-size: 16px;
  width: 500px;
  cursor: pointer;
  border-style: none;
  border-radius: 5px;
}

.input {
  position: relative;
  box-sizing: border-box;
  display: flex;
  color: #484848;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 24px;
  padding: 11px;
  border-style: none;
  border: 1px solid #eae8e8;
  border-radius: 5px;
  width: 100%;
}

input[type="text"]:focus, input[type="password"]:focus { 
    outline: none;
    border: 1px solid #008489;
}

button:focus {
  outline: none;
}