/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
}

.main {
  display: inline-block;
}

.navBar{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFFFFF;
}


.nav-bar {
  font-family: 'Montserrat', sans-serif;
  color: #787878;
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid #eae8e8;
}




#logo-search {
  font-family: 'Sriracha';
  color: #fd5c63;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  font-size: 2em;
  
}

.filter-bar {
  height: 48px;
  font-family: 'Montserrat', sans-serif;
  color: #787878;
  display: flex;
  border-bottom: 1px solid #eae8e8;
  align-items: center;
}

.filter-bar div {
  margin-left: 155.48px;
}

.filter-bar button {
  font-family: 'Montserrat', sans-serif;
  padding: 0 16px;
  color: #585858;
  font-size: 13.8px;
  font-weight: lighter;
  height: 32px;
  cursor: pointer;
  border: 1px solid #eae8e8;
  border-radius: 5px;
  margin-right: 16px;
  outline: none;
}

.filter-bar button:hover {
  background-color: #eae8e8;
}

.filter-bar button:focus {
  outline: none;
  background-color: #008489;
  color: #FFFFFF;
}


#logo-search a {
  text-decoration: none;
  color: inherit;
  padding: 0 24px;
}



.search {
  position: relative;
  box-sizing: border-box;
  display: flex;
  color: #585858;
  font-family: 'FontAwesome';
  font-size: 16px;
  line-height: 24px;
  font-weight: bolder;
  padding: 11px;
  border-style: none;
  border: 0.5px solid #eae8e8;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0px 1px 5px #eae8e8, 
  1px 1px 5px #eae8e8;
  transition: box-shadow 0.3s ease-in-out;
}

.search:hover {
  box-shadow: 0px 2px 5px #eae8e8, 
  -3px 2px 5px #eae8e8, 3px 2px 5px #eae8e8;
}

.search-input {
  margin-left: 18px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #585858;
  line-height: 24px;
  font-weight: bolder;
  border-style: none;
  width: 100%;
}

.search-input[type="text"]:focus { 
  outline: none;
}

.nav-bar button {
  padding: 0 16px;
  color: #585858;
  border: none;
  font-size: 13.8px;
  font-weight: 500;
  height: 100%;
  cursor: pointer;
}

.nav-bar button:hover {
  border-bottom: 2px solid #888888;
  border-top: 2px solid #FFFFFF
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  color: #585858;
  font-family: 'Montserrat', sans-serif;
}

.close {
  color:  #585858;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  font-weight: lighter;
  position: absolute;
}

.alt-link {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 20px 0px;
  border-top: 1px solid #eae8e8;
  text-align: left;
  color: #585858;
  font-family: 'Montserrat', sans-serif;
}

.alt-link button {
  color: #008489;
  font-weight: bolder;
  font-size: 16px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  padding-left: 5px;
}

.alt-link button:hover {
  text-decoration: underline;
}

.modal-errors {
  margin-bottom: 10px;
  color: #D93900;
  font-weight: 600;
  text-align: left;
}

.modal-errors ul {
  list-style: none;
}

.modal-errors ul li {
  padding: 5px;
}

.modal-errors ul li:before {
  content: "X";
  padding-right: 8px;
  color: #D93900;
}

.modal-form {
  padding: 20px 0px;
}

#form-type {
  border-bottom: 1px solid #eae8e8;
  padding-bottom: 20px;
}

#form-type button {
  color: #008489;
  font-weight: bolder;
  font-size: 16px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  padding-left: 1px;
}

#form-type button:hover {
  text-decoration: underline;
}

.modal-form button {
  display: inline-block;
  background-color: #FF5A5F;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 10px 22px;
  line-height: 24px;
  font-size: 16px;
  width: 500px;
  cursor: pointer;
  border-style: none;
  border-radius: 5px;
}

.form-field {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  color: #585858;
  font-family: 'FontAwesome';
  font-size: 16px;
  line-height: 24px;
  padding: 11px 20px;
  border-style: none;
  border: 1px solid #eae8e8;
  border-radius: 5px;
  width: 100%;
}

.form-input {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #585858;
  line-height: 24px;
  font-weight: bolder;
  border-style: none;
  width: 100%;
}

.form-field:focus-within {
  border: 1px solid #008489
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus { 
  outline: none;
}


button:focus {
  outline: none;
}

i {
  padding: 5px;
}

.content {
  margin-top: 130px;
}

.spot-index {
  min-height: 400px;
}
.spot-index ul {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}

.spot-item {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #585858;
  width: 420px;
  height: 280;
  margin: 15px;
}
.spot-img {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  margin-bottom: 10px;
}

.spot-accom {
  color: #585858;
}