/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



.navBar {
  min-width: 960px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 3;
}

.content {
  min-width: 800px;
}

.nav-bar {
  font-family: 'Montserrat', sans-serif;
  color: #787878;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eae8e8;
}

.nav-bar a {
  text-decoration: none;
  color: #585858;
  height: 100%;
}


#logo-search {
  font-family: 'Sriracha';
  color: #fd5c63;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  font-size: 2em;
  height: 80px;
}

.filter-bar {
  height: 48px;
  font-family: 'Montserrat', sans-serif;
  color: #787878;
  display: flex;
  border-bottom: 1px solid #eae8e8;
  align-items: center;
}

.filter-bar div {
  margin-left: 155.48px;
}

.filter-button {
  font-family: 'Montserrat', sans-serif;
  padding: 0 16px;
  color: #585858;
  font-size: 13.8px;
  font-weight: lighter;
  height: 32px;
  cursor: pointer;
  border: 1px solid #eae8e8;
  border-radius: 5px;
  margin-right: 16px;
  outline: none;
}

.filter-button:hover {
  background-color: #008489;
  color: #FFFFFF;
}

.active-button {
  background-color: #008489;
  color: #FFFFFF;
}

.active-button:hover {
  background-color: #eae8e8;
  color: #585858;
}


#logo-search a {
  text-decoration: none;
  color: inherit;
  padding: 0 24px;
}

.search {
  position: relative;
  box-sizing: border-box;
  display: flex;
  color: #585858;
  font-family: 'FontAwesome';
  font-size: 16px;
  line-height: 24px;
  font-weight: bolder;
  padding: 11px;
  border-style: none;
  border: 0.5px solid #eae8e8;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0px 1px 5px #eae8e8;
  border: 1px 1px 5px #eae8e8;
  transition: box-shadow 0.3s ease-in-out;
}

.search:hover {
  box-shadow: 0px 2px 5px #eae8e8, 
  -3px 2px 5px #eae8e8, 3px 2px 5px #eae8e8;
}

.search form {
  width: 300px;
}
.search-input {
  width: 100%;
  margin-left: 18px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #585858;
  line-height: 24px;
  font-weight: bolder;
  border-style: none;
}

.search-input[type="text"]:focus { 
  outline: none;
}

.nav-buttons {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-buttons button {
  padding: 0 16px;
  color: #585858;
  border: none;
  font-size: 13.8px;
  font-weight: 500;
  cursor: pointer;
  height: 100%;
  background: none;
}

.nav-buttons button:hover {
  border-bottom: 2px solid #888888;
  border-top: 2px solid #FFFFFF
}

.user-img {
  display: flex;
  height: 75px;
  margin-right: 10px;
  align-items: center;
}
.dropbtn {
  /* width: 5px; */
  padding: 0;
}

.user-img:hover {
  border-bottom: 2px solid #888888;
  border-top: 2px solid #FFFFFF
}

.user-img button {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 0 10px;
  padding: 0 4px;
}

.user-img button:hover {
  border: none;
}

.modal-background {
  transition: all 0.5s ease-in;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  color: #585858;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.5s ease-in-out;
}
.close {
  color:  #797979;
  text-align: left;
  font-family: 'Encode Sans Expanded';
  cursor: pointer;
  font-weight: lighter;
  margin-bottom: 10px;
  width: 100%;
}

.alt-link {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
  border-top: 1px solid #eae8e8;
  text-align: left;
  color: #585858;
  font-family: 'Montserrat', sans-serif;
}

.alt-link button {
  color: #008489;
  font-weight: bolder;
  font-size: 16px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  padding-left: 5px;
}

.alt-link button:hover {
  text-decoration: underline;
}

.modal-errors {
  margin-bottom: 10px;
  color: #D93900;
  font-weight: 600;
  text-align: left;
}

.modal-errors ul {
  list-style: none;
}

.modal-errors ul li {
  padding-top: 5px;
}

.modal-form {
  padding-top: 20px;
}

#form-type {
  width: 100%;
  border-bottom: 1px solid #eae8e8;
  padding-bottom: 20px;
}

#form-type button {
  color: #008489;
  font-weight: bolder;
  font-size: 16px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  padding-left: 1px;
}

#form-type button:hover {
  text-decoration: underline;
}

.modal-form button {
  display: inline-block;
  background-color: #FF5A5F;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-align: center;
  padding: 14px 22px;
  margin-bottom: 15px;
  line-height: 24px;
  font-size: 16px;
  width: 500px;
  cursor: pointer;
  border-style: none;
  border-radius: 5px;

}

.field-wrapper {
  margin-bottom: 15px;
}

.form-field {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  color: #585858;
  font-family: 'FontAwesome';
  font-size: 16px;
  line-height: 24px;
  padding: 11px 20px;
  border-style: none;
  border: 1px solid #eae8e8;
  border-radius: 5px;
  width: 100%;
  min-width: 80px;
}

.form-input {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #585858;
  line-height: 24px;
  font-weight: bolder;
  border-style: none;
  width: 100%;
}

.form-field:focus-within {
  border: 1px solid #008489
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus { 
  outline: none;
}

textarea {
  resize: none;
}

textarea:focus {
  outline: none;
}


button:focus {
  outline: none;
}

i {
  padding: 5px;
}


.spot-index {
  margin-top: 130px;
  font-family: 'Montserrat Black', sans-serif;
  font-size: 24px;
  color: #585858;
  box-sizing: border-box;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 0 40px;
}

.spot-index ul {
  font-family: 'Montserrat Black', sans-serif;
  font-size: 24px;
  color: #585858;
  box-sizing: border-box;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

#spot-index-head {
 justify-content: center;
 padding: 25px 20px 0 20px;
 width: 100%;
}


.index-map-hidden {
  width: 96%;
  margin-top: 20px;
  height:0px;
}

.index-map-visible {
  width: 96%;
  margin-top: 20px;
  height: 350px
}


.spot-link {
  font-family: sans-serif;
  text-decoration: none;
}

.spot-item {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #585858;
  max-width: 420px;
  margin: 0 15px 15px 15px;
}
.spot-img {
  width: 20vw;
  height: 15vw;
  min-width: 220px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  margin-bottom: 15px;
}

.spot-accom {
  font-family: 'Montserrat Extra Light', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 100;
  margin: 8px 0;
  margin: 8px 0;
}

.spot-name {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Montserrat Black', sans-serif;
  margin: 8px 0;
}

.spot-terms {
  font-family: 'Montserrat Extra Light', sans-serif;
  font-size: 14px;
  font-weight: 100;
  margin: 8px 0;
}

.rating {
  font-size: 10px;
  font-weight: 900;
  margin: 8px 0;
  padding: 0;
}

.spot-item .rating i{
  padding: 0;
  color: #008489;
}

.spot-item .num-reviews {
  font-family: 'Montserrat Bold', sans-serif;
  margin-left: 4px;
}


.show {
  margin-top: 80px;
  font-family: 'Montserrat', sans-serif;
  color: #585858;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;
}

.show-imgs{
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 440px;
  min-width: 100%;
  margin-bottom: 15px;
  border-bottom: 1px solid #000000;
}

.show-imgs .main-img {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 50%;
  border-top: 1px solid #000000;
}

.show-imgs .sub-imgs {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  grid-gap: 0px;
  height: 100%;
  width: 50%;

}

.sub-imgs div {
  overflow: hidden;
  border: 1px solid #000000;
}

.main-img img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  transition: all 0.3s;
}


.sub-imgs img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 0.3s;
}

.main-img:hover img {
  transform: scale(1.1);
}

.sub-imgs div:hover img {
  transform: scale(1.1);
}

.show-content {
  display: flex;
  justify-content: center;
  margin: 20px 160px 40px 160px;
}

.show-content-left {
  padding-right: 60px;
}

.name {
  margin-bottom: 30px;
}
.name-head {
  font-family: 'Montserrat Black', sans-serif;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 10px;
}

.name .detail {
  font-family: 'Montserrat Thin', sans-serif;
  font-size: 15px
}
.accommodation-head{
  font-size: 18px;
  font-family: 'Montserrat Bold', sans-serif;
  font-weight: 600;
  margin: 8px 0;
}
.section-head {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-family: 'Montserrat Bold', sans-serif;
  font-weight: 600;
  margin: 8px 0;
  border-top: 1px solid #eae8e8;
  padding-top: 20px;
  align-items: center;
}

.large-rating {
  font-size: 18px;
  margin-left: 10px;
}

.details {
  margin-top: 10px;
}

.details .detail {
  line-height: 150%
}

.main-detail {
  display: flex;
  flex-direction: row;
  margin-left: 36px;
}

.main-detail div {
  margin-right: 20px;
  padding-bottom: 20px;
}

.detail {
  padding: 20px 0;
}


.module {
  height: 325px;
  width: 100%;
  margin: 15px 0;
  border: 1px solid #eae8e8;  
}

.amenity-list {
  margin: 20px 0;
  text-align: left;
}

.amenity-list-item i {
  /* display: flex; */
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.map {
  margin-bottom: 20px;
  max-width: 620px;
}

.reviews i {
  color: #008489;
}

.review-item {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  margin: 10px 0; 
  border-bottom: 1px solid #eae8e8;
}
.reviews .section-head {
  font-size: 25px;
  margin-bottom: 20px;
}
.review-head {
  font-family: 'Montserrat Bold', sans-serif;
  padding-bottom: 5px;
  font-weight: 700;
}

.review-body {
  padding: 10px 0;
}


.reviews .modal-form {
  width: 500px;
}

.reviews .modal-form .rating-wrapper {
  font-family: inherit;
  display: flex;
  flex-direction: row;
}

.reviews .form-field {
  display: flex;
  flex-direction: column;
}

.reviews select {
  background-color: #FFFFFF;
}

.reviews select:focus {
  outline: none;
}

.booking-module {
  position: sticky;
  top: 115px;
  z-index: 0;
  width: 350px;
  padding: 25px;
  border: 1px solid #eae8e8;  
}

.rate-head {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.rate {
  margin-right: 4px; 
  font-size: 25px;
  font-weight: 700;
}

.rate-amt {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.rating {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.modal-form #contact-git {
  background-color:  #52565e;
}

.modal-form #contact-li {
  background-color: #0077b5;
}

.modal-form #contact-portfolio {
  background-color: #FFFFFF;
  color: #52565e;
  border: 2px solid #52565e;
}

.booking-module .rating i {
  font-size: 8px;
  padding: 1px;
  color: #008489;
}

.booking-module .num-reviews {
  font-family: 'Montserrat Bold', sans-serif;
  margin-left: 4px;
}

.booking-form .modal-form {
  margin-top: 20px;
  border-top: 1px solid #eae8e8;
}
.booking-form .form-field {
  justify-content: space-between;
  margin-top: 2px;
}
.booking-form button {
  width: 100%;
}

.booking-form select {
  background: none;
  height: 28px
}

.booking-form select > option {
  background-color: #FFFFFF;
}

.booking-form select:focus {
  outline: none;
}

.arrow {
  height: 100%;
  margin: 0 10px;
}

.field-wrapper button {
  border-radius: 0px;
  background: 0 0;
  height: 0px;
}


.calculator {
  display: flex;
  flex-direction: column;
}

.ledger{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #888888;
  border-bottom: 1px solid #eae8e8;
  padding: 8px 0;
  align-items: center;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 0;
  align-items: center;
}
.finalTotal {
  justify-content: center;
}
.wave_money {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#book-text {
  font-size: 12px;
  text-align: center;
  font-weight: 900;
}

.modal-form .confirm {
  background-color: #008489;
  margin: 0;
}

.modal-form .cancel {
  margin: 0;
}
.conf-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  align-content: center;
}

.conf-buttons button {
  width: 230px;
  margin: 0;
}

.modal .spot-img {
  margin-bottom: 0;
  margin-top: 20px;
}

#confirmation {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 0 20px 0;
}


.spot-form {
  margin-top: 150px;
  font-family: 'Montserrat Black', sans-serif;
  font-size: 18px;
  color: #585858;
  box-sizing: border-box;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}

#spot-form-fields {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.img-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  min-width: 400px;
  height: 400px;
  margin: 20px;
  font-size: 80px;
  border: 1px solid #eae8e8;  
}

.user-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#user-img {
  display: flex;
  border: 1px solid #eae8e8;  
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 50px;
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}

#user-img:hover, .img-upload:hover {
  cursor: pointer;
  color:  #008489;
}

#uploader {
  z-index: -1;
	width: 0px;
	height: 0px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}

.spot-form select {
  background-color: #FFFFFF;
}
.spot-form #form-type {
  font-size: 25px;
}
.spot-form select:focus {
  outline: none;
}

.spot-form .form-field {
  margin-top: 5px;
}

.spot-form .field-wrapper {
  margin-top: 5px;
}

#rate {
  width: 200px;
}

#spot-form-fields .modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.spot-form-options {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.host-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.host-details select {
  background-color: #FFFFFF;
}



@media only screen and (max-width: 960px) {

  .calculator {
   display: none;
  }

  #spot-form-fields {
    flex-direction: column;
  }

  .show {
    width: 100%;
    margin-top: 0;
  }

  .show-imgs {
    margin-top: 130px;
  }
  .navBar {
    justify-content: center;
  }
  .nav-bar {
    flex-direction: column;
  }


  .spot-index {
    margin-top: 180px;
  }

  .spot-form {
    margin-top: 200px;
  }

  .user-img:hover {
    border: 0;
  }

  .spot-img {
    width: 300px;
    height: 300px;
    min-width: 220px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    margin-bottom: 15px;
  }

  #logo-search {
    justify-content: left;
    border-bottom: 1px solid #eae8e8;
    width: 960px;
  }

  .nav-bar .nav-buttons {
    margin-left: 155.48px;
    height: 48px;
    font-family: 'Montserrat', sans-serif;
    color: #787878;
    display: flex;
    align-items: center;
    outline: none;
  }

  .nav-bar .nav-buttons button {
    font-family: 'Montserrat', sans-serif;
    /* padding: 0 16px; */
    color: #585858;
    font-size: 13.8px;
    font-weight: lighter;
    height: 32px;
    cursor: pointer;
    border: 1px solid #eae8e8;
    border-radius: 5px;
    margin-right: 16px;
    outline: none;
  }

  .nav-bar .nav-buttons button:hover {
    background-color: #eae8e8;
  }

  .nav-bar .nav-buttons button:focus {
    outline: none;
    background-color: #008489;
    color: #FFFFFF;
    }

  .nav-bar a {
    text-decoration: none;
    color: #585858;
    height: 32px;
  }

  .search {
    width: 400px;
  }


}


@media only screen and (max-width: 1100px) {

  .calculator {
   display: none;
  }

  .show-content {
    flex-direction: column-reverse;
    margin: 0 0 40px 0;

  }

  .show-content-right {
    min-width: 560px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eae8e8; 
  }
  
  .show-content-left {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    padding: 0 50px;
  }
  .show-imgs {
    margin-bottom: 0px;
    width: 100%;
  }

  .booking-module {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 522px;
    z-index: 0;
    padding: 10px 25px;
    border: none;
    margin-bottom: 0px;
  }

  .rate-head {
    display: flex;
    flex-direction: column;
    width: 180px;
    min-width: 180px;
    justify-content: center;
  }
  .booking-module .modal-form button {
    font-family: 'Montserrat', sans-serif;
    padding: 0 16px;
    margin: 0;
    height: 52px;
    cursor: pointer;
    outline: none;
  }

  .booking-form {
    display: flex;
    flex-direction: row;
  }

  .booking-form .modal-form {
    min-width: 560px;
    border: 0;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0;
    margin: 0;
  }

  .booking-form .modal-form .field-wrapper {
    margin-right: 16px;
  }

  #book-text {
    visibility: hidden;
  }


}



@media only screen and (max-width: 740px) {

  .spot-item {
    max-width: 500px;
  }

  .spot-img {
    width: 500px;
    height: 400px;
    min-width: 220px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    margin-bottom: 15px;
  }

}